# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.pytest_cache/
*.pyc
*.pyo
*.pyd
env/
ENV/
.env

# 配置 & 数据
.env
.env.local
dev.db
*.db-journal
logs/
*.db
*.sqlite
*.sqlite3

# Node.js (必须加！否则会传 node_modules)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log
.yarn/cache
.npm
.eslintcache

# 编辑器 / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 系统文件
.DS_Store
Thumbs.db